<!-- components/header.html -->
<div class="header">
    <div class="header-content">
    <a href="../index.html">
        <img src="../fig/logo.svg" alt="ロゴ" class="logo">
    </a>
    <h1 id="page-title">ここは変数で制御</h1>
    <p id="page-subtitle"></p>
    </div>
    <div class="header-overlay"></div>
</div>
  
<div class="menu-container">
    <div class="menu-item">
        プログラミングの基礎
        <div class="dropdown">
            <!-- <a href="../pages/program_home.html">はじめに</a> -->
            <a href="../pages/variable.html">変数</a>
            <a href="../pages/if.html">条件分岐</a>
            <a href="../pages/for.html">ループ</a>
        </div>
    </div>
    <div class="menu-item">
        Processing の基礎
        <div class="dropdown">
            <!-- <a href="../pages/processing_home.html">はじめに</a> -->
            <a href="../pages/processing_about.html">Processingとは？</a>
            <a href="../pages/processing_figure.html">図の描画</a>
            <a href="../pages/processing_interaction.html">インタラクション</a>
            <a href="../pages/processing_movement.html">動き</a>
        </div>
    </div>